<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>ProgettoTIW_HTML_10704294</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/yourDatabase?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>yourPassword</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<filter>
		<filter-name>Checker</filter-name>
		<filter-class>tiw.filters.Checker</filter-class>
	</filter>
	<filter>
		<filter-name>DocenteChecker</filter-name>
		<filter-class>tiw.filters.DocenteChecker</filter-class>
	</filter>
	<filter>
		<filter-name>StudenteChecker</filter-name>
		<filter-class>tiw.filters.StudenteChecker</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Checker</filter-name>
		<url-pattern>/GoToHomeDocente</url-pattern>
		<url-pattern>/GoToHomeStudente</url-pattern>
		<url-pattern>/DettaglioAppelloDocente</url-pattern>
		<url-pattern>/DettaglioAppelloStudente</url-pattern>
		<url-pattern>/SelezionaAppello</url-pattern>
		<url-pattern>/SortOrder</url-pattern>
		<url-pattern>/ModificaVoto</url-pattern>
		<url-pattern>/PubblicaVoti</url-pattern>
		<url-pattern>/VerbalizzaVoti</url-pattern>
		<url-pattern>/RifiutaVoto</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DocenteChecker</filter-name>
		<url-pattern>/GoToHomeDocente</url-pattern>
		<url-pattern>/ModificaVoto</url-pattern>
		<url-pattern>/PubblicaVoti</url-pattern>
		<url-pattern>/SortOrder</url-pattern>
		<url-pattern>/VerbalizzaVoti</url-pattern>
		<url-pattern>/DettaglioAppelloDocente</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StudenteChecker</filter-name>
		<url-pattern>/GoToHomeStudente</url-pattern>
		<url-pattern>/DettaglioAppelloStudente</url-pattern>
		<url-pattern>/RifiutaVoto</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>